<!DOCTYPE html>
<html lang="fr">
  <head>
   <%- include('util/head.ejs') %>
    
  </head>

  <body>
    <%- include('util/header.ejs') %>


    <div class="container">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                </div>
                <form class="user" method="POST" action="/adduser">
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nom" name="nom">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Prenom " name="prenom">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Numero de Telephone " name="phone">
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Entrer votre mot de passe" name="password">
                    </div>
                    <div class="col-sm-6">  
                      <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeter le mot de passe" name="password2">
                    </div>
                  </div>
                
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Creer votre compte
                  </button>
                  <hr>
               
                </form>
                <hr>
               
                <div class="text-center">
                  <a class="small" href="/login">Déja un compte? Connecter vous</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>

    <%- include('util/footer.ejs') %>
    <%- include('util/script.ejs') %>
 
   
  </body>
</html>
