<!DOCTYPE html>
<html lang="fr">
  <head>
   <%- include('util/head.ejs') %>
    
  </head>

  <body>
    <%- include('util/header.ejs') %>

    <h1>Reservation</h1>

    <%- include('util/footer.ejs') %>
    <%- include('util/script.ejs') %>
 
   
  </body>
</html>
