<div class="container">
    <div class="row">
      <div class="col-10 mx-auto col-md-6 col-lg-3 align-self-center">
        <h5 class="text-uppercase">Nos Meilleurs Produits</h5>
        <p class="text-muted">
          Nous vous proposons divers services dans le domaine des vivres frais:
        </p>
      
        <div class="categories-underline"></div>
      </div>
      <div class="col-10 mx-auto col-md-6 col-lg-9 my-3">
        <div class="row">
          <div class="col-md-6 col-lg-3 my-3" data-aos="flip-left">
            <div class="category-container">
              <img
                src="images/p1.jpg"
                class="img-fluid category-img"
                alt="category img "
              />
              <a href="products.html" class="category-link">
                <h6 class="text-uppercase mb-0">kitchen</h6>
                <p class="mb-0 text-yellow">20 items</p>
              </a>
            </div>
          </div>
         
          <div class="col-md-6 col-lg-3 my-3 " data-aos="flip-left">
            <div class="category-container">
              <img
                src="images/p2.jpg"
                class="img-fluid category-img"
                alt="category img "
              />
              <a href="products.html" class="category-link">
                <h6 class="text-uppercase mb-0">bahtroom</h6>
                <p class="mb-0 text-yellow">20 items</p>
              </a>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3 my-3" data-aos="flip-left">
            <div class="category-container">
              <img
                src="images/p3.jpg"
                class="img-fluid category-img"
                alt="category img "
              />
              <a href="products.html" class="category-link">
                <h6 class="text-uppercase mb-0">living room</h6>
                <p class="mb-0 text-yellow">20 items</p>
              </a>
            </div>
          </div>
        
          <div class="col-md-6 col-lg-3 my-3" data-aos="flip-left">
            <div class="category-container">
              <img
                src="images/p4.jpg"
                class="img-fluid category-img"
                alt="category img "
              />
              <a href="products.html" class="category-link">
                <h6 class="text-uppercase mb-0">patio</h6>
                <p class="mb-0 text-yellow">20 items</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>