<div class="container-fluid">
    <div class="row home-filler align-items-end pb-5">
      <div class="col-10 mx-auto text-white text-center">
        <h4 class="text-uppercase font-weight-bold">
         Petit explication de la plateform
        </h4>
        <p class="text-capitalize">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
          iure?
        </p>
      
        <div class="collection-underline"></div>
      </div>
    </div>
  </div>