<div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <h2 class="text-uppercase">Aboonez vous pour plus de nouveauté</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
          blanditiis similique eum, aut culpa maiores cupiditate alias
          exercitationem error nesciunt.
        </p>
        <form>
          <div class="input-group mt-5 mb-4">
            <input
              type="text"
              class="form-control text-capitalize"
              placeholder="Entrer votre adresse email"
            />
            <div class="input-group-append">
              <div class="input-group-text form-icon">
                <i class="fas fa-envelope"></i>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-yellow">S'abonner</button>
        </form>
      </div>
    </div>
  </div>